---
import BaseLayout from '../../layouts/BaseLayout.astro';
import DocumentItem from '../../components/DocumentItem.astro';

const pageTitle = "My contributions";

const contributions = await Astro.glob('./*.md');
contributions.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));

const qualities = contributions.map((contribution) => contribution.frontmatter.size).filter((value, index, self) => self.indexOf(value) === index);
---

<BaseLayout pageTitle={"theotchlx | " + pageTitle}>
  <h1>{ pageTitle.toUpperCase() }</h1>
  <section class="box">
    <h2>My contributions to the world of open source software.</h2>
    <p>
      This unusual record of my contributions to open source communities exists as part of an assignment required by my degree.
    </p>
    <p>Sort contributions by tags: <a href="/contributions/tags/">See all tags</a></p>
  </section>

  <hr class="title-bar" />

  <ul>
    <h3>All contributions by date (newest first)</h3>
    {contributions
      .map((contribution) => (
        <DocumentItem date={contribution.frontmatter.pubDate} url={contribution.url} title={contribution.frontmatter.title} description={contribution.frontmatter.abstract} />
      ))}
  </ul>
</BaseLayout>
