---
import BaseLayout from '../../layouts/BaseLayout.astro';
import DocumentItem from '../../components/DocumentItem.astro';

const pageTitle = "My blog";

const articles = await Astro.glob('./articles/*.md');
articles.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));

const qualities = articles.map((article) => article.frontmatter.insight).filter((value, index, self) => self.indexOf(value) === index);
---

<BaseLayout pageTitle={"theotchlx | " + pageTitle}>
  <h1>{ pageTitle.toUpperCase() }</h1>
  <section class="box">
    <h2>Every article is free to read, copy, and share under the CC BY-SA 4.0 license.</h2>
    {/*
    <p>
      This is where I publish my articles for free. I try to make them as clear, concise and qualitative as possible.<br />
      They are sorted by depth of insight into their subject, but you can also sort them by tags.
    </p>
    */}
    <p>Sort articles by tags: <a href="/blog/tags/">See all tags</a></p>
    <p>Feel free to send me any feedback or criticism by email at <a href="mailto:theo.tchlx@proton.me">theo.tchlx@proton.me</a>.</p>
  </section>

  <hr class="title-bar" />

  <ul>
    <h3>All articles by date (newest first)</h3>
    {articles
      .map((article) => (
        <DocumentItem date={article.frontmatter.pubDate} url={article.url} title={article.frontmatter.title} description={article.frontmatter.abstract} />
      <p>
        {article.frontmatter.insight === 1
          ? "Rich insight depth"
          : article.frontmatter.insight === 2
          ? "Moderate insight depth"
          : article.frontmatter.insight === 3
          ? "Shallow insight depth"
          : "Uncategorized article"}
      </p>
      ))}
  </ul>
</BaseLayout>
