:root {
  --min-column-width: 300px; /* Default value for grid column width. */
}

html {
  background-color: #F0F0F0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 115ch;
  padding: 1rem;
  line-height: 1.5;
  font-weight: 450;
  color: #4A4A4F;
}

h1, h2, h3, h4 {
  color: #2A2A3F;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}


/* links styles */

a:hover {
  color: #045C1D;
  text-decoration: underline;
}
  
a {
  color: #2D4A6F;
  text-decoration: none;
}


/* boxes styles */

.box {
  padding: 0.1em 1em;
  box-shadow: 1px 1px 5px 1px #4F4F4F;
  margin-bottom: 1.2em;
  background-color: #D4D4D4;
}

.title-bar {
  margin: 1.25em 20em;
}

.block {
  background-color: #E4E4E4;
  padding: 0.25em 1em;
  box-shadow: 1px 1px 5px 1px #4F4F4F;
  margin-bottom: 1.2em;
  display: inline-block;
}

.block-title {
  margin: 0.25em 0;
}

hr {
  margin: 0.25em 0 0.5em 0;
}

.block-content {
  list-style: none;
  margin: 0.25em 0;
  padding: 0 0.5em;
}

.block-list {
  margin: 0.25em 0.75em;
  padding: 0 0.5em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-column-width, 300px), 1fr));
  gap: 0 1em;
}

/* Media query for bigger screens */
@media screen and (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(var(--min-column-width, 400px), 1fr));
  }
}

/* Theme styles for dark mode preference */

@media (prefers-color-scheme: dark) {

  html, body {
    background-color: #2A2A2A;
    color: #BBBBAA;
  }
  
  h1, h2, h3, h4 {
    color: #B09000;
  }

  /* links styles */

  a {
    color: #4BA444;
    text-decoration: none;
  }

  a:hover {
    color: #CA4800;
  }

  /* boxes styles */

  .box {
    background-color: #242424;
  }

  .block {
    background-color: #343434;
    box-shadow: 1px 1px 5px 1px #4F4F4F;
  }

  /*article > header {
      background-color: #121212;
  }
  
  .src, code {
      color: #BBBB88;
  }
  
  pre {
      background-color: #494949;
  }
  
  #toc {
      border: 1px solid black;
      background-color: #191919;
  }*/
}
