html {
  background-color: #F0F0F0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 115ch;
  padding: 1rem;
  line-height: 1.5;
  font-weight: 450;
  color: #4A4A4F;
}

h1, h2, h3, h4 {
  color: #2A2A3F;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}


/* links styles */

a:hover {
  color: #045C1D;
  text-decoration: underline;
}
  
a {
  color: #2D4A6F;
  text-decoration: none;
}


/* Theme styles for dark mode preference */

@media (prefers-color-scheme: dark) {

  html, body {
    background-color: #2A2A2A;
    color: #BBBBAA;
  }
  
  h1, h2, h3, h4 {
    color: #B09000;
  }

  /* links styles */

  a {
    color: #4BA444;
    text-decoration: none;
  }

  a:hover {
    color: #CA4800;
  }

  

  article > header {
      background-color: #121212;
  }
  
  .src, code {
      color: #BBBB88;
  }
  
  pre {
      background-color: #494949;
  }
  
  #toc {
      border: 1px solid black;
      background-color: #191919;
  }
}
