---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "theotchlx | 404 - Not Found";
---

<BaseLayout pageTitle={pageTitle}>
  <center>
    <h1>404 - Not Found</h1>
    <h2>You are lost!</h2>
    <p>
      Go back to <a href="/">root</a>.
    </p>
  </center>
</BaseLayout>
