---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "My background";

const technos = [
  {
    title: "Programming languages",
    content: ["Rust", "Go", "Python", "TypeScript", "C"]
  },
  {
    title: "Frontend web frameworks",
    content: ["React+NextJS+Vite", "Angular", "Astro", "VueJS"]
  },
  {
    title: "Frontend libraries",
    content: ["Tailwind", "shadcn", "Bootstrap"]
  },
  {
    title: "Backend web frameworks",
    content: ["AdonisJS", "NestJS", "ExpressJS"]
  },
  {
    title: "Containerization and orchestration",
    content: ["Docker", "Compose", "Kubernetes", "Podman", "Packer"]
  },
  {
    title: "Virtualization platforms",
    content: ["QEMU+KVM", "Proxmox"]
  },
  {
    title: "Automation workflows and GitOps",
    content: ["GitLab CI", "GitHub Actions", "ArgoCD"]
  },
  {
    title: "Monitoring and log management tools",
    content: ["Prometheus", "Grafana", "Uptime Kuma"]
  },
  {
    title: "Remote infrastructure and configuration management",
    content: ["Terraform", "Ansible"]
  },
  {
    title: "Cloud service providers",
    content: ["GCP", "AWS", "OVH"]
  },
  {
    title: "SQL database systems",
    content: ["PostgreSQL", "MySQL", "SQLite"]
  },
  {
    title: "Document database systems",
    content: ["MongoDB"]
  },
  {
    title: "key-value database systems",
    content: ["Redis"]
  },
  {
    title: "Object storage systems",
    content: ["MinIO"]
  },
  {
    title: "Operating system administration",
    content: ["Linux", "FreeBSD"]
  },
  {
    title: "Networking",
    content: ["Traefik", "Nginx", "Apache"]
  },
  {
    title: "Red-team security",
    content: ["netcat", "curl", "nmap"]
  },
  {
    title: "Blue-team security",
    content: ["ufw"]
  }
];

const enjoy = {
  title: "What I enjoy the most...",
  content: ["OS development", "Low-level programming", "DevOps workflows and automation", "Backend development", "Architecture design", "Writing clear and concise documentation"]
};

---

<BaseLayout pageTitle={pageTitle}>
  <h1>{ pageTitle.toUpperCase() }</h1>

  <section class="box">
    <h2>My area of expertise, experience, education...</h2>
    <p>
      This page lists my current level of education, professional experience, technical and interpersonal skills and goals. <br />
      You can checkout <a href="/projects/">my projects</a>, <a href="/talks/">talks</a> or <a href="/blog/">my blog</a> to see a fuller picture of my skills and experience.
    </p>
    <h2 style="text-align: center"><em>I'm currently looking for an internship</em></h2>
  </section>

  <hr class="title-bar" />

  <p>If you are interested in my profile, you can send me an email at <a href="mailto:theo.tchlx@proton.me"><strong>theo.tchlx@proton.me</strong></a>. Be yourself!</p>

  <section id="current-occupation">
    <div class="block">
      <h4 class="block-title">Current occupation</h4>
      <hr />
      <ul class="block-content">
        <li>I study <strong>computer science</strong>, <strong>DevOps</strong> and <strong>cloud technologies</strong> at Polytech Montpellier, a selective engineering school in southern France.</li>
        <li>I also work as a <strong>DevOps apprentice engineer</strong> at Renault Digital, the IT subsidiary of the French automaker based near Paris, France.</li>
      </ul>
    </div>
  <section>

  <section id="auxilliary-knowledge" class="grid grid-1">
    <div class="block">
      <h4 class="block-title">Spoken and written languages</h4>
      <hr />
      <ul class="block-content">
        <li><strong>French:</strong> native</li>
        <li><strong>English:</strong> advanced - <em>TOEIC score: 985/990</em>. <em>Date of test: September 2024</em>.</li>
        <li><strong>Spanish:</strong> conversational - <em>CEFR: B1</em></li>
        <li><strong>German:</strong> beginner - <em>CEFR: A1</em></li>

      </ul>
    </div>

    <div class="block">
      <h4 class="block-title">Soft skills</h4>
      <hr />
      <em>I value these skills highly.</em>
      <ul class="block-list">
        <li>Empathy</li>
        <li>Teamwork</li>
        <li>Adaptation</li>
        <li>Self-awareness</li>
        <li>Critical thinking</li>
      </ul>
    </div>

    <div class="block">
      <h4 class="block-title">Interests & hobbies</h4>
      <hr />
      <ul class="block-list">
        <li>Open source</li>
        <li>Research</li>
        <li>Security</li>
        <li>Management</li>
        <li>New technologies</li>
      </ul>
    </div>

    {/*
    <div class="block">
      <h4 class="block-title">Goals, objectives</h4>
      <h4 class="block-title">Career goals and personal objectives</h4>
      <ul class="block-list">
        <li>Promote human rights</li>
        <li>Warn / instruct / inform / promote biodiversity|preservation</li>
        <li> pollution</li>
        <li>Contribute to open source</li>
        <li>Improve scientific research<li>
        Make greener/more optimized software, unbloated. Open source hardware
        Open access to learning, information and knowledge,
        Quantum and analog computing.
      </ul>
    </div>
    */}
  </section>

  <section id="experience" class="grid grid-2">
    <div class="block">
      <h4 class="block-title">Professional experience - current occupation</h4>
      <hr />
      <strong>DevOps apprentice engineer</strong>, <em>Renault Digital</em>, <small>international automaker</small>.<br />
      September 2023 - present | Paris, France.
      <ul class="block-list">
        Part of an Agile DevOps team managing K8s on Google Cloud, where I worked on:
        <ul class="block-list">
          <li>Automating SQL/NoSQL database migrations.</li>
          <li>Building infrastructure on GCP.</li>
          <li>Maintaining GitLab CI/CD pipelines.</li>
          <li>Optimizating software.</li>
        </ul>
      </ul>
    </div>
    <div class="block">
      <h4 class="block-title">Professional experience</h4>
      <hr />
      <strong>Construction worker intern and assistant manager</strong>, <em>Cuartero SAS</em>, <small>construction company</small>.<br />
      June 2022 - July 2022 | Mauguio, France.
      <ul class="block-list">
        Summer internship as a construction worker.
        <ul class="block-list">
          <li>Installating of partitions, insulation, doors and windows.</li>
          <li>Introductory training in administrative functions, supplies and logistics management.</li>
          <li>IT support for staff</li>
          <li>Production of estimates and quotations in Excel.</li>
        </ul>
      </ul>
    </div>
  </section>

  <section id="education" class="grid grid-3">
    <div class="block">
      <h4 class="block-title">Education - current training</h4>
      <hr />
      <strong>3rd and 4th years of a 5-year Engineering qualification in Cloud and DevOps technologies and practices</strong>, <em>DO at Polytech Montpellier (Selective Apprenticeship Training)</em>.<br />
      September 2023 - present | Montpellier, France.
      <ul class="block-list">
        <strong>Equivalent to M. Eng. Expected graduation: 2026.</strong>
        <ul class="block-list">
          <li>Managing complex cloud-based architecture.</li>
          <li>Developing cloud-native software.</li>
          <li>Producing open source software with teams of up to 15 students.</li>
          <li>Working with the entire chain of testing, CI/CD, improvement and monitoring of applications in distributed environments.</li>
        </ul>
      </ul>
    </div>
    <div class="block">
      <h4 class="block-title">Education</h4>
      <hr />
      <strong>Equivalent to 2 years of Preparatory Classes leading to a place in one of Polytech's highly selective Engineering schools</strong>, <em>Polytech Montpellier (Selective Engineering School).</em>
      September 2021 - August 2023 | Montpellier, France.
      <ul class="block-list">
        <ul class="block-list">
          <li>Solid knowledge in sciences and technology.</li>
          <li>Engineering practices, critical thinking and problem solving.</li>
          <li>Producing reports based on bibliographical research of scientific literature.</li>
          <li>Various software projects and computer science courses.</li>
        </ul>
        STEM, Human sciences, English, Computer science.
      </ul>
    </div>
  </section>

  <section id="certifications" class="grid grid-2">
    <div class="block">
      <h4 class="block-title">Certifications</h4>
      <hr />
      <strong>PSC1</strong>, 2019 | FFSFP, Montpellier, France.<br />
      <ul class="block-content">
        <li>French first aid certificate.</li>
      </ul>
    </div>
    <div class="block">
      <h4 class="block-title">Certification in progress</h4>
      <hr />
      <strong>CKA</strong>, upcoming | Linux Foundation.<br />
      <ul class="block-content">
        <li>Certified Kubernetes Administrator</li>
      </ul>
    </div>
  </section>

  <section id="skills" class="skills-section">
    <hr class="title-bar" />
    <h2>Here are a few technologies I'm familiar with</h2>
    <h3>This list does not include Cloud service providers' products</h3>
    <details>
      <summary class="top-summary">Click here to show/hide the list</summary>
      <h3>Each list is sorted in descending order of practice with the products</h3>
      {technos.map((techno) => (
          <details open="true">
            <summary>{techno.title}</summary>
            <ul class="skill-list">
              {techno.content.map((element) =>
                <li class="skill"><code>{element}</code></li>
              )}
            </ul>
          </details>
        ))}
    </details>
  </section>
</BaseLayout>

<style>
  /* Grid override styles */

  .grid-1 {
    --min-column-width: 300px;
  }

  /* Skill lists styles */

  .top-summary {
    cursor: help;
    font-weight: bold;
    color: #2D4A6F;
    text-align: center;
  }

  summary {
    cursor: context-menu;
    font-weight: bold;
    color: #2D4A6F;
  }

  summary:hover {
    text-decoration: underline;
  }

  .skill {
    background-color: #DADADA;
    border: 1.5px solid #2D4A6F;
    border-radius: 0.3em;
    color: #2D4A6F;
    text-align: center;
    font-size: 0.9em;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 0.5em 1em;
  }

  .skill:hover {
    background-color: #6D8A9F;
    color: #EFEFEF;
  }
  
  code {
    font-size: large; 
  }

  .skills-section {
    max-width: 900px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }

  .skills-section h2 {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .skills-section h3 {
    margin-top: 0;
    padding: 0;
    text-align: center;
    color: #2D4A6F;
  }

  .skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.5em;
    list-style: none;
    font-weight: bold;
    margin: 0.5em 0 0;
    padding: 0;
  }


  /* Style for <details> and <summary> */
  details {
    margin-bottom: 1em;
    border: 1px solid #2D4A6F;
    border-radius: 0.3em;
    background-color: #F7F7F7;
    padding: 0.5em;
    overflow: hidden;
  }


  /* Media query for bigger screens and grid override styles */
  @media screen and (min-width: 640px) {
    .grid-1 {
      --min-column-width: 200px;
    }

    .grid-2 {
      --min-column-width: 600px;
    }

    .grid-3 {
      --min-column-width: 500px;
    }
  }

  @media screen and (min-width: 880px) {
    .grid-1 {
      --min-column-width: 300px;
    }
  }


  /* Theme styles for dark mode preference */

  @media (prefers-color-scheme: dark) {
    .top-summary {
      color: #2B7A62;
      color: #BBBB99;
    }
    
    summary {
      color: #98B77D;
    }

    .skill {
      background-color: #301E17;
      border-color: #DEAD;
      color: #2B7A4D;
    }
    
    .skill:hover {
      background-color: #0E392C;
      color: #DECD;
    }
    
    .skills-section h3 {
      color: #2F7E66;
    }

    details {
      background-color: #242424;
      border-color: #DEAD;
    }
  }
</style>
