---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const pageTitle = "My Blog";

const articles = await Astro.glob('./articles/*.md');
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{ pageTitle }</h1>
  <h2>Take a look at some of my articles :)!</h2>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    { articles.map((article) => <BlogPost url={article.url} title={article.frontmatter.title} />) }
  </ul>
</BaseLayout>
