---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "root";
---

<BaseLayout pageTitle={"theotchlx | " + pageTitle}>
  <h1>HELLO AND WELCOME</h1>

  <section id="about-me" class="box">
    <h2>About me.</h2>
    <p>
      I'm <strong>Théo Tchilinguirian</strong>, a DevOps student apprentice from France.<br />
      I'm currently following an engineering degree (eq. to Master's degree) at Polytech Montpellier, and working as a DevOps apprentice at Renault Digital.
      Take a look at <a href="/about">my resume</a> for more information.
    </p>
    <h3>My interests.</h3>
    <p>
      I'm passionate about open source, research and security.{/*I love understanding stuff from their very basics/foundations.*/}<br />
      My next goal is to become a Certified Kubernetes Security Specialist (CKS).<br />
      {/*I'm thinking of continuing my studies with a thesis in the field of security, or in the field of distributed systems.*/}
    </p>
  </section>

  <hr class="title-bar" />

  <h3>I'm currently working on improving this website, come back to see the updates :)!</h3>
  <ul>
    <li>This website provides an RSS feed for my articles. You can find it <a href="/rss.xml">here</a>!</li>
    <li>You can take a look at <a href="/projects/">my projects</a> or <a href="/about">my resume</a>.</li>
    <li>I write articles on <a href="/blog/">my blog</a>. I try to make them as clear, concise and qualitative as possible.</li>
    <li>I took notes of my contributions in FLOSS projects <a href="/contributions/">here</a>, and you can find my talks <a href="/talks/">here</a>.</li>
  </ul>
</BaseLayout>
