---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  {/* <h1>Hello and welcome.</h1> */}
  <div class="about">
    <h2>About me.</h2>
    <p>
      I'm <strong>Théo Tchilinguirian</strong>, a DevOps student apprentice from France.<br />
      I'm passionate about open source, research and security.
    </p>
    <h3>My hobbies</h3>
    <p>
      I.. I like trains
    </p>
  </div>

  <h3>I'm currently working on improving this website, come back to see the updates :)!</h3>

  This website provides an RSS feed for my articles. You can find it at <a href="/feed.xml">/rss.xml</a>.<br />

  You can take a look at <a href="/projects/">my projects</a> or <a href="/about">my resume</a>.<br />
  I write articles on <a href="/blog/">my blog</a>. I try to make them as clear, concise and qualitative as possible.<br />
  I took notes of my contributions in FLOSS projects <a href="/contributions/">here</a>.
</BaseLayout>

<style>
  .about {
    padding: 0.1em 1em;
    box-shadow: 1px 1px 5px 1px #4F4F4F;
    margin-bottom: 1.2em;
  }
</style>
