---
const { url, title, description, date, display_last } = Astro.props;
---

<li><h4>{ date ? date.toString().slice(0,10) : '' }</h4> <a href={ url }>{ title }</a>{ description ? ': ' + description : '' } <small>{ display_last }</small></li>

<style>
  a {
    font-weight: bold;
  }

  h4 {
    display: inline;
    margin-right: 0.5rem;
  }

  li {
    list-style-type: none;
    margin-bottom: 1em;
    margin-left: 1em;
  }
</style>
