---
import Social from './Social.astro';

const platforms = [
  ["https://", "www.github.com/", "GitHub", "theotchlx"],
  ["https://", "www.linkedin.com/in/", "LinkedIn", "theotchlx"],
  ["https://", "mastodon.social/", "Mastodon", "@theotchlx"],
  ["https://", "codeberg.org/", "Codeberg", "theotchlx"],
  ["https://", "sr.ht/", "SourceHut", "~theotchlx"],
  ["mailto:", "", "Email", "theo.tchlx@proton.me"]
];
---

<footer>
  <hr />
  <p>How to reach me:</p>
  <ul>
  {platforms.map(([protocol, url, name, username]) => 
    <li>
      <Social protocol={protocol} url={url} name={name} username={username} />
    </li>
  )}
  </ul>
  <p>
    The code for this website can be found on <a href="https://www.github.com/theotchlx/theotchlx">GitHub</a>.
  </p>
</footer>

<style>
  footer {
    margin-top: 2rem;
  }

  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
